<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Owner Name</th>
      <th>Email</th>
      <th>Model</th>
      <th class="text-right">Purchase Price</th>
    </tr>
    <tr *ngFor="let vaccine of vaccines">
      <td>
        <a [routerLink]="['/admin/view', vaccine.id]">{{vaccine.name}}</a>
      </td>
      <td>
        {{vaccine.email}}
      </td>
      <td>
        {{vaccine.model}}
      </td>
      <td class="text-right">
        {{vaccine.purchasePrice}}
      </td>
    </tr>
  </table>
</div>
